<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">Facility Booking</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    {% if user.is_authenticated %}
                        <!-- Common links for all users -->
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                        </li>
                        
                        <!-- Role-Specific Links -->
                        {% if user.role == 'user' %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'sport' %}">Sports</a>
                            </li>

                        {% elif user.role == 'manager' %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'manager' %}">Manager Dashboard</a>
                            </li>
                        {% endif %}
                        
                        <!-- Logout link for authenticated users -->
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                        </li>
                    {% else %}
                        <!-- Links for guests -->
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'register' %}">Register</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>